<html>
<head>
        <meta charset="utf-8">
        <title>個人證書一覽表</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table table-striped">
        <thead>
                <tr>
                        <th>活動時間</th>
                        <th>活動名稱</th>
                        <th>學分數</th>
                        <th>證書頁面</th>
						<th>發證日期</th>
                </tr>
        </thead>
        <tbody>
                <tr>
                        <td>2020/04/01</td>
                        <td>插花</td>
                        <td class="score">0.2</td>
                        <td><A HREF ="https://thetangle.org/transaction/9AQDZDYXPGKTSCNRGTJKJSXKQVZVGJQRGVMTULZIWZIIBGFLENUWXDYVFBECSHJZHKHYYSJMBXPWZ9999">Link</A></td>
						<td>2020/05/01</td>


                </tr>
                <tr>
                        <td>2020/04/02</td>
                        <td>音樂賞析</td>
                        <td class="score">0.3</td>
                        <td>8888</td>
						<td>2020/05/02</td>

                </tr>
                <tr>
                        <td>2020/04/03</td>
                        <td>電影賞析</td>
                        <td class="score">0.4</td>
                        <td>88888</td>
						<td>2020/05/03</td>

                </tr>
		<tr>
			<th>總學分數 : </th>
			<th class ="vTotal">0</th>
		</tr>
        </tbody>
</table>

</body>
</html>

<script type="text/javascript">
                $(function(){
                    var vTotal = 0; 
                        $('.score').each(function(i){
                                
                                $(this).parent().find('td:eq(2)').each(function(i){
                                    vTotal += parseFloat($(this).text());
                                });
                        });
								vTotal=vTotal.toFixed(2);
                                $('.vTotal').text(vTotal);
                });
        </script> 
